body {
 position: fixed;
 width: 100%;
}
.filters {
  position: absolute;
  top: 0px;
  z-index: 1040;
  width: 100%
}
.commentField {
  position: absolute;
  bottom: 140px;
  z-index: 1040;
  width: 100%
}
.positionRelative {
  position: relative;
}
.fullHeight {
  height: 100vh;
}
.scrollable {
  overflow-y: scroll;
}
.pb-30p {
  padding-bottom: 30%;
}